In [76]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns

In [77]:
df = pd.read_csv("data/attacks.csv", encoding="latin1")
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df.columns.values

array(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury',
       'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'Case Number.1', 'Case Number.2',
       'original order', 'Unnamed: 22', 'Unnamed: 23'], dtype=object)

In [79]:
df = df.drop(columns=["Location", "Name", "Age", "Injury", "Investigator or Source", "Time", "Investigator or Source", "pdf", "href formula", "href", "Case Number.1", "Case Number.2", "original order", "Unnamed: 22", "Unnamed: 23"])
df

,Case Number,Date,Year,Type,Country,Area,Activity,Sex,Fatal (Y/N),Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,N,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,N,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
df = df.drop(columns=["Country", "Area"])
df

,Case Number,Date,Year,Type,Activity,Sex,Fatal (Y/N),Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,Paddling,F,N,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,Standing,F,N,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,Surfing,M,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,Surfing,M,N,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,Free diving,M,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df2 = df.drop(df.columns[[5, -1]],axis = 1)
df2

      Case Number         Date    Year        Type     Activity Fatal (Y/N)
0      2018.06.25  25-Jun-2018  2018.0     Boating     Paddling           N
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked     Standing           N
2      2018.06.09  09-Jun-2018  2018.0     Invalid      Surfing           N
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked      Surfing           N
4      2018.06.04  04-Jun-2018  2018.0    Provoked  Free diving           N
...           ...          ...     ...         ...          ...         ...
25718         NaN          NaN     NaN         NaN          NaN         NaN
25719         NaN          NaN     NaN         NaN          NaN         NaN
25720         NaN          NaN     NaN         NaN          NaN         NaN
25721         NaN          NaN     NaN         NaN          NaN         NaN
25722          xx          NaN     NaN         NaN          NaN         NaN

[25723 rows x 6 columns]

In [82]:
df2 = df2.dropna(how ="all")

In [83]:
df2

      Case Number         Date    Year        Type     Activity Fatal (Y/N)
0      2018.06.25  25-Jun-2018  2018.0     Boating     Paddling           N
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked     Standing           N
2      2018.06.09  09-Jun-2018  2018.0     Invalid      Surfing           N
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked      Surfing           N
4      2018.06.04  04-Jun-2018  2018.0    Provoked  Free diving           N
...           ...          ...     ...         ...          ...         ...
8698            0          NaN     NaN         NaN          NaN         NaN
8699            0          NaN     NaN         NaN          NaN         NaN
8700            0          NaN     NaN         NaN          NaN         NaN
8701            0          NaN     NaN         NaN          NaN         NaN
25722          xx          NaN     NaN         NaN          NaN         NaN

[8703 rows x 6 columns]

In [84]:
df2 = df2[df2["Date"].str.contains("NaN") == False]
df2

     Case Number         Date    Year        Type      Activity Fatal (Y/N)
0     2018.06.25  25-Jun-2018  2018.0     Boating      Paddling           N
1     2018.06.18  18-Jun-2018  2018.0  Unprovoked      Standing           N
2     2018.06.09  09-Jun-2018  2018.0     Invalid       Surfing           N
3     2018.06.08  08-Jun-2018  2018.0  Unprovoked       Surfing           N
4     2018.06.04  04-Jun-2018  2018.0    Provoked   Free diving           N
...          ...          ...     ...         ...           ...         ...
6297     ND.0005  Before 1903     0.0  Unprovoked        Diving           Y
6298     ND.0004  Before 1903     0.0  Unprovoked  Pearl diving           Y
6299     ND.0003    1900-1905     0.0  Unprovoked      Swimming           Y
6300     ND.0002    1883-1889     0.0  Unprovoked           NaN           Y
6301     ND.0001    1845-1853     0.0  Unprovoked      Swimming           Y

[6302 rows x 6 columns]

In [85]:
df2 = df2[df2["Fatal (Y/N)"].str.contains("NaN") == False]
df2

     Case Number         Date    Year        Type      Activity Fatal (Y/N)
0     2018.06.25  25-Jun-2018  2018.0     Boating      Paddling           N
1     2018.06.18  18-Jun-2018  2018.0  Unprovoked      Standing           N
2     2018.06.09  09-Jun-2018  2018.0     Invalid       Surfing           N
3     2018.06.08  08-Jun-2018  2018.0  Unprovoked       Surfing           N
4     2018.06.04  04-Jun-2018  2018.0    Provoked   Free diving           N
...          ...          ...     ...         ...           ...         ...
6297     ND.0005  Before 1903     0.0  Unprovoked        Diving           Y
6298     ND.0004  Before 1903     0.0  Unprovoked  Pearl diving           Y
6299     ND.0003    1900-1905     0.0  Unprovoked      Swimming           Y
6300     ND.0002    1883-1889     0.0  Unprovoked           NaN           Y
6301     ND.0001    1845-1853     0.0  Unprovoked      Swimming           Y

[5763 rows x 6 columns]

In [86]:
df2 = df2[df2["Activity"].str.contains("NaN") == False]
df2

     Case Number         Date    Year        Type      Activity Fatal (Y/N)
0     2018.06.25  25-Jun-2018  2018.0     Boating      Paddling           N
1     2018.06.18  18-Jun-2018  2018.0  Unprovoked      Standing           N
2     2018.06.09  09-Jun-2018  2018.0     Invalid       Surfing           N
3     2018.06.08  08-Jun-2018  2018.0  Unprovoked       Surfing           N
4     2018.06.04  04-Jun-2018  2018.0    Provoked   Free diving           N
...          ...          ...     ...         ...           ...         ...
6296     ND.0006  Before 1906     0.0  Unprovoked      Swimming           Y
6297     ND.0005  Before 1903     0.0  Unprovoked        Diving           Y
6298     ND.0004  Before 1903     0.0  Unprovoked  Pearl diving           Y
6299     ND.0003    1900-1905     0.0  Unprovoked      Swimming           Y
6301     ND.0001    1845-1853     0.0  Unprovoked      Swimming           Y

[5344 rows x 6 columns]

In [87]:
df2 = df2[df2["Type"].str.contains("Invalid") == False]
df2

       Case Number         Date    Year        Type      Activity Fatal (Y/N)
0       2018.06.25  25-Jun-2018  2018.0     Boating      Paddling           N
1       2018.06.18  18-Jun-2018  2018.0  Unprovoked      Standing           N
3       2018.06.08  08-Jun-2018  2018.0  Unprovoked       Surfing           N
4       2018.06.04  04-Jun-2018  2018.0    Provoked   Free diving           N
5     2018.06.03.b  03-Jun-2018  2018.0  Unprovoked  Kite surfing           N
...            ...          ...     ...         ...           ...         ...
6296       ND.0006  Before 1906     0.0  Unprovoked      Swimming           Y
6297       ND.0005  Before 1903     0.0  Unprovoked        Diving           Y
6298       ND.0004  Before 1903     0.0  Unprovoked  Pearl diving           Y
6299       ND.0003    1900-1905     0.0  Unprovoked      Swimming           Y
6301       ND.0001    1845-1853     0.0  Unprovoked      Swimming           Y

[5319 rows x 6 columns]

In [88]:
df2 = df2[df2["Activity"].str.contains("Swimming") == False]
df2

       Case Number         Date    Year        Type      Activity Fatal (Y/N)
0       2018.06.25  25-Jun-2018  2018.0     Boating      Paddling           N
1       2018.06.18  18-Jun-2018  2018.0  Unprovoked      Standing           N
3       2018.06.08  08-Jun-2018  2018.0  Unprovoked       Surfing           N
4       2018.06.04  04-Jun-2018  2018.0    Provoked   Free diving           N
5     2018.06.03.b  03-Jun-2018  2018.0  Unprovoked  Kite surfing           N
...            ...          ...     ...         ...           ...         ...
6293       ND.0009  Before 1906     0.0  Unprovoked       Fishing           Y
6294       ND.0008  Before 1906     0.0  Unprovoked       Fishing           Y
6295       ND.0007  Before 1906     0.0  Unprovoked       Fishing           Y
6297       ND.0005  Before 1903     0.0  Unprovoked        Diving           Y
6298       ND.0004  Before 1903     0.0  Unprovoked  Pearl diving           Y

[4345 rows x 6 columns]